* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#snake {
    width: 50%;
}

@media (max-width: 800px) {
    #snake {
        width: 100%;
        height: 100%;
    }
}